# Phoenix Configuration
PHOENIX_COLLECTOR_ENDPOINT=http://localhost:6006/v1/traces

ENABLE_FOLLOW_UP_GENERATION=False

# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_NAME=rag_database
DB_USER=postgres
DB_PASSWORD=postgres123



